/*neuer header anfang*/
*{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav{
  height: 90px;
  width: 100%;
  background-color: #0f1f38;
  position: relative;
}

nav ul{
  float: right;
}

nav li{
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}

nav li a{
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav ul li .active{
  font-weight: bold;
}

nav ul li:hover{
  border-bottom: 2px solid white;
}

nav:hover::after{
  width: 0;
}

#logo {
      height: 45px;
			position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      margin-left: 20px;
}

/*neuer header ende*/

/*sections*/
.section{
    color: #fff;
    background-color: #0f1f38;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heroSection{
    color: #fff;
    background-color: #0f1f38;
}

/*service section*/

.services{
  display:flex;
}

.service-element{
  display: block;
}

/*teaser element*/

.teaser {
  position: relative;
  text-align: center;
  color: white;
  background-color: transparent;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teaserImageContainer{
  height: 600px;
}

.teaserImage{
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}

/*teaser element hover
Source: https://www.graphicpie.com/css-text-hover-effects/
*/
.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
