*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #0f1f38;*/
  font-size: 18px;
  color:#ffffff;
}

h1{
  font-size: 80px;
  line-height: 110%;
}

h3{
  font-size: 32px;
}

h4{
  font-size: 100px;
  color: #FFE600;
}

h5{
  font-size: 35px;
  color: #0f1f38;
}


.header_text{
  width: 850px;
}


/*Anfang header css anfang NEU*/
nav{
  height: 90px;
  width: 100%;
  background-color: #0f1f38;
  position: relative;
}

nav ul{
  float: right;
}

nav li{
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}

nav li a{
  font-size: 18px;
  color: white;
  text-decoration: none;
}

nav ul li .active{
  font-weight: bold;
}

nav ul li:hover{
  border-bottom: 2px solid white;
}

nav:hover::after{
  width: 0;
}

#logo {
      height: 45px;
			position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      margin-left: 20px;
}
  
/*ENDE header css anfang NEU*/


/*anfang sreen_section */
#screen_section{
  padding: 200px 0;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #0f1f38;
  background-image: url("/pics/v1.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
 /* background-attachment: fixed;*/
  
  display: flex;
  justify-content: left;
  align-items:left;
  gap: 20px; /*Lücke zwishcen 2 Flexboxen schaffen*/
  flex-wrap: wrap; /*wenn es platzgründe gibt werden die elemte untereinadner angzeigt*/
  flex-direction: column;
}

.subheading{
  color: white;
  line-height: 150%;
}

#arrow_button{
  width: 100px;
  border: 0;
  padding:12px 10px;
  outline: none;
  color: white;
  background: #FFE600;
  
  /*background: linear-gradient(70deg, blue, green);*/
  border-radius:20px;
  cursor: pointer;
  transition: width 0.5s;

}

#arrow_button img{
  width: 30px;
  display: none;
}

#arrow_button:hover img{
  display: block;
}

#arrow_button:hover{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Ende sreen_section */




/*anfang section 1 NEU*/
#about_section{
  padding: 100px 0;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #425b94;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap; /*wenn es platzgründe gibt werden die elemte untereinadner angzeigt*/
}

.about_section_container{
  width: 400px;
  max-width: 90%; /*damit container beim kleiner machen nicht den rand berührt*/
}

#about_section img{
  width: 400px;
  border: 15px solid white;
  border-radius: 15px;
  max-width: 90%;
}

.about_section_container p{
  line-height: 150%;
}

.about_section_container h2{
  font-size: 50px;
  text-align: left;
  margin-bottom: 25px;
}

/*Ende section 1 NEU*/



/*Anfang section 2 NEU*/
#group_members{
  padding: 70px 0;
  background-color: #ebeff1;
}

#group_members h2{
  font-size: 50px;
  text-align: center;
}

#group_members p{
  font-size: 18px;
  text-align: center;
  line-height: 150%;
  padding-top:20px;
  padding-bottom:25px;
}

.flex_container{
  margin-top: 50px;
  display:flex;
  gap: 40px;
  justify-content: center; /*die card wurde zentriert*/
  flex-wrap: wrap;
}

.card{
  width: 350px;
  max-width: 90%;
  background-color: #ebeff1;
  border-radius: 20px;
  padding: 60px 20px;
  text-align: center;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  /*border: 1px solid black;*/
  box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
  -10px -10px 10px -1px rgba(255,255,255,0.7);
}

.card .wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.card a{ /*vl lieber richtige buttons machen und warum geht text nicht in die mitte???????????????????????*/
  background-color: #ebeff1;
  width: min-content;
  padding: 10px 30px;
  border-radius: 35px;
  margin: 0 auto;
  text-decoration: none;
  color: #425b94;
  border: 2px solid #ebeff1;
  transition: 150ms ease-in-out;
    
  box-shadow: inset 5px 5px 10px -1px rgba(10,99,169,0.16),
  inset -7px -7px 10px -1px rgba(255,255,255,0.7);
}

.card a:hover{
 /* background-color: transparent;*/
  background-color: #ffffff;
}

.profile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
  -10px -10px 10px -1px rgba(255,255,255,0.7);
}

.profile img{
  width: 100%;
  height: 100%;
}

/*Ende section 2 NEU*/



/*Anfag section 3 NEU Profil anlege*/
#signup_profil{
    display: flex;
    gap: 20px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: row;
    flex-wrap:wrap; /*vl wieder weg da sonst nicht nebeneinander?*/

   /* padding: 100px 0;
    gap: 100px;
    flex-wrap: wrap;*/
}

.contain_in{
  width: 400px;
  max-width: 90%; /*damit container beim kleiner machen nicht den rand berührt*/
}

.container{
    width: 100%;
    max-width: 500px;
    background: #0f1f38;
    padding: 45px;
    /*margin-right: 100px;*/
    /*margin-left: 100px;*/
    border-radius: 10px;
}

.container2{
    width: 100%;
    max-width: 600px;
    background: #ffffff;
   /* padding: 45px;*/
    /*margin-right: 60px;
    margin-left: 60px;*/
}

.container1{
  margin-left: 10px;
  margin-top:40px;
  /*height: 260px;
	width: 280px;*/
}

.form_title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    border-bottom: solid 1px white;
}

.main_user_info, .container_description{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.container_language{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}


/*.eingabe:nth-child(2n){
    justify-content: end;
}*/

.eingabe{
   display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.eingabe label, .container_gender p, .container_description label, .container_language label{
    width: 95%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0 !important;
}

/*.container_language label{
  margin-bottom:100px !important;
}*/


.eingabe input{
    height: 40px;
    width: 80%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.container_description textarea{
    height: 100px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.eingabe input:focus{
    border: 5px solid white;
    color: black;
    transition: all 0.3s ease;
}

.container_description textarea:focus{
  border: 5px solid white;
    color: black;
    transition: all 0.3s ease;
}

.container_button{
    text-align: center;
    margin-top: 25px;
}

#logKnopf{
  font-size: 15px;
  background-color: #425b94;
  width: min-content;
  padding: 10px 80px;
  border-radius: 35px;
  margin: o auto;
  text-decoration: none;
  color: white;
  border: 2px solid #425b94;
  transition: 150ms ease-in-out;
}

#logKnopf:hover{
  background-color: transparent;
}

fieldset{
  border: none;
}

fieldset label{
 width: 95%;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
}

.container_gender{
  padding-bottom: 12px;
}

.container_description{
  width: 100%;
  padding-top: 0;
}

.mult-select-tag{
  color: #425b94;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
}

.mult-select-tag .item-container{
  color:#425b94 !important;
  border: 1px solid #425b94 !important;
  border-radius: 7px !important;
  background: #e9ebf1 !important;
}

.mult-select-tag .item-label {
  color: #425b94 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.mult-select-tag label{
  padding: 50px !important;
}

.mult-select-tag .input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 0.3rem !important;
}

::placeholder{
  color: #cdcbcb !important;
  font-family: Arial, Helvetica, sans-serif;
}

/*Ende section 3 NEU Profil anlegen*/





/*Anfang Upload image <!--Quelle für Upload image:https://www.youtube.com/watch?v=KbeKkmk5nhY&list=PLnj4DfwkIwHg1Wvd2TtAthIifMFEElhGq&index=19&t=46s*/
.form .grid {
  margin: 20px 0;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  gap:20px;
}
.form .grid .form-element {
  width:200px;
  height:150px;
  box-shadow:0px 0px 20px 5px rgba(100,100,100,0.1);
}
.form .grid .form-element input {
  display:none;
}
.form .grid .form-element img {
  width:100%;
  height:100%;
  object-fit:cover;
  opacity: 0.4;
  border-radius: 10px;
}
.form .grid .form-element div {
  position:relative;
  height:40px;
  margin-top:-40px;
  background:#FFE600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align:center;
  line-height:40px;
  font-size:13px;
  color:#f5f5f5;
  font-weight:600;
}
.form .grid .form-element div span {
  font-size:40px;
}

.form p{
    width: 95%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0 !important;
}
/*.container_try {
	max-width: 400px;
	width: 100%;
	background: green;
	padding: 30px;
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: yellow;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #6c4242;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: light blue;
	color: #a23434;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: pink;
}*/


/*Ende Upload image*/






#email-maske{
  position: absolute;
  width: 838px;
  height: 557px;
  margin: 50px;
  border: 1px solid #000000;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}




/*Quelle: https://www.w3schools.com/w3css/w3css_animate.asp*/ 

#subject{
  position: absolute;
  width: 386px;
  height: 49px;
  left: 56px;
}

#chat-maske{
  background-color: #0f1f38;
  border-radius: 7px;
  padding: 10px;
  margin: 50px;
  max-width: 760px;
}

.chat-example-sender{
  background-color: #425b94;
  border-color: #ccc;
  padding: 15px;
  text-align: right;
}

.chat-example-receiver{
  background-color: #0f1f38;
  border-color: #ccc;
  padding: 15px;
}

.username {
  padding: 10px;
  color: white;
  font-size: 20px;
}

.icon-sender {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
  width: 55px;
  height: 55px;
}

.icon-receiver {
  float: left;
  margin-right: 20px;
  margin-left: 0px;
  width: 55px;
  height: 55px;
}

.text-bar{
  background-color: white;
  border-color: #ccc;
  padding: 15px;
}

#chat-input{
  width: 100%;
  height: 70px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 16px;
}

#send-chat{
  font-size: 15px;
  background-color: #425b94;
  padding: 10px 40px;
  border-radius: 35px;
  margin: o auto;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  border: 2px solid #425b94;
  transition: 150ms ease-in-out;
}

#send-chat:hover{
  background-color: #0f1f38;
}

/*Section Anfang unten contakt us*/
#contact_section{
  padding: 80px;
  background:#0f1f38;
  /*text-align: center;*/
}

#contact_section h1{
  /*padding: 10px;*/
  padding-bottom: 15px;
  font-size: 30px;
}
/*Section Ende untencontakt us*/